@mixin circle($size, $color) {
  border-radius: 50%;
  width: $size;
  height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color;
}

.orbit {
  &__outer {
    @include circle(532px, #212124);
    position: relative;
  }

  &__dot {
    position: absolute;
    inset: 21px;
    z-index: 1;
    transform-origin: center;
    animation: dot-animation 5s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &::before {
      position: absolute;
      left: 50%;
      translate: -50% -50%;
      top: 0;
      width: 6px;
      height: 6px;
      background-color: #e75626;
      content: "";
      z-index: 999;
      border-radius: 50%;
    }

    @keyframes dot-animation {
      0% {
        rotate: 0;
      }
      100% {
        rotate: 182deg;
      }
    }
  }

  &__inner {
    &.-first {
      @include circle(526px, #171719);
      filter: blur(12px);
    }
    &.-second {
      @include circle(446px, #1e1e20);
      position: absolute;
      top: 43px;
      left: 43px;
    }
    &.-third {
      @include circle(384px, transparent);
      border: 1px solid #323232;
    }
    &.-fourth {
      @include circle(370px, transparent);
      border: 1px solid #323232;
    }
  }
}
